* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header {
    width: 100%;
    background-color: antiquewhite;
}

h1 {
    text-align: center;
    padding: 20px 0 20px;
}

table, tr, td, th {
    border: 1px solid black;
    padding: 2px;
    border-collapse: collapse;
    font-size: 17px;

}

.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

@media (max-width: 768px) {
    .table-container {
        padding: 10px;
    }

    table {
        font-size: 14px;
    }

    th, td {
        padding: 4px;
    }
}

@media (max-width: 480px) {
    table {
        font-size: 12px;
    }

    th, td {
        padding: 2px;
    }
}